<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gemma -->
      <package
            uri="http://www.uniandes.edu.co/gemma"
            class="Gemma.GemmaPackage"
            genModel="gemma.genmodel"/>
   </extension>

</plugin>